@import url('https://fonts.googleapis.com/css?family=Sacramento|Work+Sans');

*{
  font-family: 'Work Sans', sans-serif;
}
body {
  padding: 0px;
  margin: 0px;
  border: 10px solid palevioletred;
  min-height: calc(100vh - 20px);
}

h1.title{
  color: goldenrod;
  font-family: 'Sacramento', cursive;
  text-align: center;
}

div.login-box{
  -webkit-box-shadow: 0px -1px 25px -3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px -1px 25px -3px rgba(0,0,0,0.25);
  box-shadow: 0px -1px 25px -3px rgba(0,0,0,0.25);
  padding: 10px;
  width: 260px;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
}
.text-center{
  text-align: center;
}

.form-control{width: 100%; height: 25px; outline: none;}
.center-block{display: block; margin: 0 auto;}

button.btn-login.form-control{
  border: 1px solid palevioletred;
  color: palevioletred;
  margin: 15px 0px;
  cursor: pointer;
}

button.btn-login.form-control:hover{
  color: white;
  background: palevioletred;
}

.page-not-found{
  padding: 30px 10px;
}
.page-not-found .go-to-home{
  border: 1px solid palevioletred;
  color: palevioletred;
  padding: 6px 10px;
  text-decoration: none;
  text-align: center !important;
}
p.link{margin-top: 30px;}
.row.navigation{
   background: palevioletred;
   width: 100%;
}
.row.navigation ul li{
  list-style-type: none;
  display: inline-block;
  padding: 7px 15px;
}
.row.navigation ul li a{
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.row.navigation ul li a:hover, .row.navigation ul li a.active{
  border-bottom: 3px solid black;
}
.float-right{
  float: right;
}
.profile{
  border-top: 1px solid rgb(235, 233, 233);
  padding-top: 20px;
}
.profile-image{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.profile p{
  font-size: 11px;
}
li button{
  cursor: pointer;
}
.profile button{
  cursor: pointer;
  border: none;
  outline: none;
  color: palevioletred;
}
.profile button:hover{
  text-decoration: underline;
}
.card-lg{
  width: 70%;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px; 
}
.card-full{
  width: calc(100% - 20px);
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px; 
}
.card-lg-2{
  width: 70%;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px; 
}
.card{
  width: 350px;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}
.card h3{
  margin-block-start: 5px !important;
  margin-block-end: 5px !important;
}
.card span{
  font-size: 12px;
}
.card p{
  margin-block-start: 5px !important;
  margin-block-end: 5px !important;
}
input[type=text]::placeholder{
  text-align: center;
}
input[type=text]{
  margin: 7px 0px;
  width: 330px;
  outline: none;
  padding: 5px;
  text-align: center;
}
input[type=text]:focus{
  border: 1px solid palevioletred;
}
button.addquestion{
  background: black;
  color: white;
  border: 1px solid black;
  padding: 4px 8px;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  margin-bottom: 15px;
}
.card-lg .row, .questionlistcard .row{
  width: 100%;
}
.questionlistcard .img-col{
  width: 40%;
  display: inline-block;
  height: 50px;
  overflow: hidden;
}
.questionlistcard .img-col img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
}
.card-lg .img-col{
  width: calc(20% - 10px);
  display: inline-block;
  height: 50px;
  padding: 5px;
  overflow: hidden;
}
.card-lg .details-col p, .questionlistcard .details-col p{
  font-size: 13px;
  margin-block-end: 3px;
  margin-block-start: 0px;
}
.card-lg .details-col{
  width: calc(60% - 10px);
  display: inline-block;
  height: 50px;
  padding: 5px;
  overflow: hidden;
}
.questionlistcard .details-col{
  width: calc(60% - 10px);
  display: inline-block;
  height: 50px;
  overflow: hidden;
}
.card-lg .score-col{
  width: calc(20% - 10px);
  margin-top: -120px;
  display: inline-block;
  height: 50px;
  padding: 5px;
  overflow: hidden;
}
.card-lg-2{
  padding: 0px 20px 20px 20px;
}
.card-lg-2 ul{
  padding: 0;
  list-style-type: none;
  margin-block-start: 15px;
  margin-block-end: 25px;
}
.card-lg-2 ul li{
  list-style-type: none;
  display: inline-block;
  width: 50%;
}
.card-lg-2 ul li button:hover{
  background: rgb(226, 226, 226) !important;
}
.card-lg-2 ul li button{
  width: 100%;
  background: white !important;
  border: none;
  padding: 10px; 
  color: black;
  font-weight: bold;
  outline: none;
  border-radius: 0px;
}
.card-lg-2 ul li button.active{
  border-bottom: 2px solid palevioletred;
}
.questionlistcard{
  border: 1px solid goldenrod;
  padding: 10px 0px;
  margin-bottom: 10px;
}
.question-form span{
  color: palevioletred;
  font-size: 20px;
  font-weight: bolder;
}
.question-form{
  padding: 50px 0px;
}
.answered{
  background: rgb(252, 238, 240);
}
p.votes{
  font-weight: bolder;
}
.pink-text{
  color: palevioletred;
  font-weight: bolder;
}